/* [data-theme="dark"] {
    --bg-color: #282828;
    --text-color: #bbb;
    --border-color: #000;
    --hover-bg: #453E34;
    --key-concept-bg: #222;
    --modal-overlay: rgba(40, 40, 40, 0.85);
    --shadow-color: #000;
}

[data-theme="dark"] * {
    background: var(--bg-color);
    color: var(--text-color);
}

[data-theme="dark"] main {
    background: none;
}

[data-theme="dark"] .social-icon {
    filter: invert(1);
    fill: #fff;
    background: transparent !important;
}

[data-theme="dark"] nav {
    border-color: var(--border-color);
}

[data-theme="dark"] nav::after {
    background-image:
        radial-gradient(var(--shadow-color) 1px, transparent 1px);
}

[data-theme="dark"] .article-card {
    border: 2px solid var(--border-color);
}

[data-theme="dark"] .article-card::after {
    background-image:
        radial-gradient(var(--shadow-color) 1px, transparent 1px);
}

[data-theme="dark"] .article-image {
    outline: 1px solid var(--border-color);
    border: 4px solid var(--bg-color);
}

[data-theme="dark"] .key-concept {
    border-left: 4px solid var(--border-color);
    background: var(--key-concept-bg);
}

[data-theme="dark"] .article-internal-image::after {
    background-image: radial-gradient(var(--shadow-color) 1px, transparent 1px);
}

[data-theme="dark"] .zoomed-container {
    border: 2px solid var(--border-color);
}

[data-theme="dark"] .zoomed-caption {
    background: var(--bg-color);
}

[data-theme="dark"] .zoom-overlay {
    background: var(--bg-color);
}

[data-theme="dark"] .article-button::after {
    background-image: radial-gradient(var(--shadow-color) 1px, transparent 1px);
}

[data-theme="dark"] .article-button:hover {
    background-color: var(--hover-bg);
}

[data-theme="dark"] .modal {
    background-color: var(--modal-overlay);
}

[data-theme="dark"] .modal-content {
    background-color: var(--bg-color);
}

[data-theme="dark"] .article-internal-gif::after {
    background-image: radial-gradient(var(--shadow-color) 1px, transparent 1px);
} */